@font-face {
  font-family: Aeonik-light;
  src: url("../fonts/Aeonik-Light.otf");
}
@font-face {
  font-family: Aeonik-regular;
  src: url("../fonts/Aeonik-Regular.otf");
}
@font-face {
  font-family: Avenir-light;
  src: url("../fonts/AvenirLTStd-Light.otf");
}
@font-face {
  font-family: Avenir-book;
  src: url("../fonts/AvenirLTStd-Book.otf");
}
@font-face {
  font-family: Avenir-black;
  src: url("../fonts/Aeonik-Black.otf");
}
#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255);
  z-index: 9999;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  min-height: 75rem;
  padding-top: 6rem;
}
.popularRetreat {
  display: flex;
  justify-content: center;
}
.bg-nav {
  /* background-color: rgba(128, 130, 132 , 0.7); */
  background: #a6a7a9;
  height: 6rem;
}
.nav-link {
  font-size: 1.05rem;
  text-transform: uppercase;
  font-family: Aeonik-light;
}
.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
}
.nav-item:last-child {
  border-left: 1px solid #dadada;
}
.bannerContent {
  background-color: rgba(128, 130, 132, 1);
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}
.bannerContent h4 {
  font-size: 1.35rem;
  color: #fff;
  font-family: Avenir-light;
  font-weight: 300;
  line-height: 30px;
}
.bannerContent p {
  font-size: 1rem;
  color: #fff;
  font-family: Avenir-light;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 0;
}
.popularRetreat {
  padding: 5rem 0;
}
.popularRetreat h2 {
  font-size: 2.1rem;
  font-family: Avenir-light;
  margin-bottom: 1.5rem;
}
.popularRetreat img {
  width: 100%;
}
.projects img {
  height: 100%;
}
.workSec {
  height: 100%;
  position: relative;
}
.workSec p {
  font-size: 0.9rem;
  color: #000;
  font-family: Aeonik-light;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 0;
  padding: 2rem;
}
.cont {
  position: relative;
}

.workOne {
  background-color: rgba(128, 130, 132, 0.5);
  padding-bottom: 3rem;
}
.workTwo {
  background-color: #ededed;
}
.workThree {
  background-color: #808284;
}
.ovrLybtn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
  padding: 0.25rem 0.75rem;
  border: 1px solid #fff;
}
.imgWo {
  overflow: hidden;
}
.workThree img {
  height: 100%;
  width: 100% !important;
  object-fit: cover;
  object-position: right;
}
.workSec .row {
  height: 100%;
}
.workThree p {
  padding-top: 6rem;
  padding-bottom: 0;
  color: #fff;
}
.whyUs {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.5)
    ),
    url(../img/banner-bg.png);
  background-size: cover;
  background-position: center;
  min-height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.whyUs .head01 {
  font-size: 2rem;
  font-family: Avenir-light;
  color: #4d093e;
}
.whyUs .head02 {
  font-size: 1.5rem;
  font-family: Avenir-light;
}
.whyUs hr {
  border-top: 2px solid #4d093e;
}
.whyUs .cardOne {
  background-color: #4d093e;
  width: 180px;
  height: 180px;
  text-align: left;
  padding: 1rem;
  color: #fff;
}
.whyUs .cardOne h5 {
  font-family: Avenir-light;
  font-size: 1.1rem;
  padding-top: 0.5rem;
}
footer {
  background-color: #4d093e;
  padding: 3.5rem;
  display: flex;
  justify-content: center;
}
.f-about {
  color: #fff;
  padding-right: 4rem;
}
.f-about h3 {
  font-size: 1.25rem;
  font-family: Avenir-book;
  padding-top: 3rem;
}
.f-about p {
  font-size: 0.85rem;
  font-family: Avenir-book;
  margin-bottom: 0;
}
.f-address {
  display: flex;
  align-items: flex-end;
  color: #fff;
  font-size: 1rem;
  justify-content: space-evenly;
  border-right: 1px solid #fff;
  font-family: Avenir-book;
}
.f_addrs {
  display: flex;
}
.f_addrs p {
  margin-bottom: 0 !important;
  font-size: 0.95rem;
}

.f-contact ul {
  list-style: none;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 0;
  padding-left: 10px;
}
.f-contact ul li {
  padding-bottom: 10px;
}
.f-contact ul a {
  font-family: Avenir-book;
  color: #fff;
  font-size: 0.95rem;
  text-decoration: none;
}
.copyright {
  font-family: Avenir-book;
  font-size: 0.8rem;
  color: #fff;
  padding-left: 15px;
  padding-top: 2rem;
}
.themeHead {
  font-size: 1.4rem !important;
  padding-top: 1rem;
  color: #4d093e;
  position: relative;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-family: Avenir-light;
}
.themeHead::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background: #4d093e;
  left: 0;
  bottom: 0px;
}
.themeHead.l-head {
  font-size: 2rem !important;
}

.boxGray {
  background: #707070;
  border: 1px soldi #707070;
  padding: 20px;
  height: 6rem;
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 1rem;
}
.servCont {
  font-size: 0.9rem;
  font-family: Avenir-book;
}
.ourServices {
  list-style: none;
  padding-left: 0;
}
.ourServices li {
  display: inline-block;
  margin-right: 2rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 16px;
}
.ourServices li a {
  color: #000;
  text-decoration: none;
}
.ourServices li a:hover {
  color: #4d093e;
  text-decoration: none;
}
.projects {
  background: rgba(5, 41, 66, 0.1);
}
.themeHeadTwo {
  font-size: 1.4rem !important;
  padding-top: 1rem;
  color: #4d093e;
  position: relative;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.p-card {
  height: 100%;
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-bottom: 0;
}
.p-card .row {
  height: 100%;
}
.bgDark {
  background-color: #4d093e;
  color: #fff;
}
.bgLight {
  background-color: #fff;
  color: #000;
}
.pro-card {
  height: 25rem;
}
.coverCenter {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.projectDescrT1 h3 {
  font-family: Avenir-black;
  font-size: 0.95rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05rem;
}
.projectDescrT1 p {
  font-size: 0.8rem;
  text-align: center;
  font-family: Avenir-book;
}
.projectDescrT2 h3 {
  font-family: Avenir-black;
  font-size: 0.95rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  text-align: center;
}
.projectDescrT2 p {
  font-size: 0.8rem;
  text-align: center;
}
.projectCard {
  height: 100%;
}
.projectDescrT2 {
  height: 100%;
}
.pb20 {
  padding-bottom: 20px;
}
.projectDescrT1 {
  padding: 2rem;
}
.projectDescrT2 {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.col-md-7 .projImgT1 {
  height: 100%;
}
.f-contact img {
  height: 1.125rem;
}
.location {
  height: 1.5rem;
  margin-right: 1rem;
  margin-top: 5px;
}
.aboutSec p {
  font-family: Avenir-book;
  font-size: 0.95rem;
}

@media only screen and (max-width: 767px) {
  .bg-nav {
    background: #a6a7a9;
    height: auto;
  }
  body {
    min-height: 75rem;
    padding-top: 4rem;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-top: 1.5rem;
    padding-left: 0;
  }
  .nav-item:last-child {
    border-left: none !important;
  }
  .whyUs .col-lg-3 {
    width: 50%;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  footer {
    padding: 3.5rem 1rem;
  }
  .f-address {
    margin: 1.5rem 0;
    border-right: 0 !important;
  }
  .f-contact ul {
    padding-left: 0;
  }
}
