@font-face {
  font-family: Aeonik-light;
  src: url("../fonts/Aeonik-Light.otf");
}
@font-face {
  font-family: Aeonik-regular;
  src: url("../fonts/Aeonik-Regular.otf");
}
@font-face {
  font-family: Avenir-light;
  src: url("../fonts/AvenirLTStd-Light.otf");
}
@font-face {
  font-family: Avenir-book;
  src: url("../fonts/AvenirLTStd-Book.otf");
}
@font-face {
  font-family: Avenir-black;
  src: url("../fonts/Aeonik-Black.otf");
}
@font-face {
  font-family: eurotile;
  src: url('../fonts/EurostileBQ-Regular.otf');
}
html {
  scroll-behavior: smooth;
}
#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255);
  z-index: 9999;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  min-height: 75rem;
  padding-top: 6rem;
}
.popularRetreat {
  display: flex;
  justify-content: center;
}
.bg-nav {
  /* background-color: rgba(128, 130, 132 , 0.7); */
  background: #a6a7a9;
  height: 6rem;
}
.nav-link {
  font-size: 0.85rem;
  text-transform: uppercase;
  font-family: Aeonik-light;
}
.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0;
  padding-bottom: 0;
}
.nav-item:last-child {
  border-left: 1px solid #dadada;
}
.bannerContent {
  background-color: rgba(128, 130, 132, 1);
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}
.bannerContent h4 {
  font-size: 1.35rem;
  color: #fff;
  font-family: Avenir-light;
  font-weight: 300;
  line-height: 30px;
}
.bannerContent p {
  font-size: 1rem;
  color: #fff;
  font-family: Avenir-light;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 0;
}
.popularRetreat {
  padding: 5rem 0;
}
.ourClientsSec {
  padding: 5rem 0 3rem;
  background: url(../img/clients-bg.jpg);
  background-size: cover;
}
.popularRetreat h2 {
  font-size: 2.1rem;
  font-family: eurotile;
  text-transform: capitalize;
}
.popularRetreat img {
  width: 100%;
}
.projects img {
  height: 100%;
  width: 100%;
    object-fit: cover;
}
.workSec {
  height: 100%;
  position: relative;
}
.featured-work-card {
  height: 22rem;
  overflow: hidden;
}
.featured-work-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.workSec p {
  font-size: 0.9rem;
  color: #000;
  font-family: Aeonik-light;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 0;
  padding: 2rem;
}
.cont {
  position: relative;
}

.workOne {
  background-color: rgba(128, 130, 132, 0.5);
  padding-bottom: 3rem;
}
.workTwo {
  background-color: #ededed;
}
.workThree {
  background-color: #808284;
}
.ourClinetsText{
    font-family: 'Avenir-light';
    font-size: 0.95rem;
    font-weight: 300;
}
.ovrLybtn {
  /* position: absolute;
  top: 20px;
  right: 20px; */
  color: #fff;
  padding: 0.25rem 0.75rem;
  border: 1px solid #fff;
  text-decoration: none;
}
a.ovrLybtn:hover {
  text-decoration: none;
  color: #faf8f0;
}
.imgWo {
  overflow: hidden;
}
.workThree img {
  height: 100%;
  width: 100% !important;
  object-fit: cover;
  object-position: right;
}
.workSec .row {
  height: 100%;
}
.workThree p {
  padding-top: 6rem;
  padding-bottom: 0;
  color: #fff;
}
.whyUs {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.5)
    ),
    url(../img/banner-bg.png);
  background-size: cover;
  background-position: center;
  min-height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.whyUs .head01 {
  font-size: 2rem;
  font-family: Avenir-light;
  color: #4d093e;
  font-weight: 700;
}
.whyUs .head02 {
  font-size: 1.5rem;
  font-family: Avenir-light;
}
.popularRetreat .head01 {
  font-size: 2rem;
  font-family: Avenir-light;
  color: #4d093e !important;
  text-align: center;
}
.popularRetreat .head-content {
  font-size: 1rem;
  font-family: Avenir-light;
  text-align: center;
  padding: 0 18% 2rem;
  line-height: 18px;
}
.featured-work-card {
  position: relative;
}
.featured-work-card img {
  transition: all 0.5s ease-in-out;
}
.featured-work-card:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.featured-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(166, 167, 169, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}
.featured-overlay:hover {
  background: rgba(166, 167, 169, 0);
  transition: all 0.5s ease-in-out;
}
.featured-overlay span {
  transition: all 0.5s ease-in-out;
  background: rgb(218 218 218 / 50%);
}
.featured-overlay:hover span {
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  transition: all 0.3s ease-in-out;
  background-color: #ffff;
  color: #4d093e;
}
.whyUs hr {
  border-top: 2px solid #4d093e;
}
.whyUs .cardOne {
  /* background-color: #4d093e; */
  /* width: 180px; */
  /* height: 180px; */
  text-align: center;
  padding: 1rem;
  color: #fff;
}
.whyUs .cardOne img {
  height: 3.5rem;
  width: auto;
  object-fit: cover;
  object-position: center;
}
.whyUs .cardOne h5 {
  font-family: Avenir-light;
  font-size: 0.9rem;
  font-weight: 600;
  padding-top: 0.5rem;
  color: #000000;
  text-transform: uppercase;
}
.projectCount {
  padding: 2rem 0;
  background: rgba(128, 130, 132, 0.32);
  display: flex;
  align-items: center;
  justify-content: center;
}
.projectCount h1 {
  color: #4d093e;
  font-weight: 700;
  margin-bottom: 0;
}
.projectCount p {
  color: #4d093e;
  font-size: 1.1rem;
  text-transform: uppercase;
}
footer {
  /* background-color: #4d093e; */
  /* background-image: linear-gradient(to top, #370f31, #390f33, #3a1034, #3c1036, #3e1138, #44183d, #491e43, #4f2548, #593353, #64415e, #6e506a, #795e75); */
  background: transparent linear-gradient(180deg, #500E33 0%, #500E33 22%, #531237 54%, #2C0E2E 86%, #2C0E2E 100%) 0% 0% no-repeat padding-box;
  padding: 3.5rem;
  display: flex;
  justify-content: center;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgb(0 0 0 / 70%);
}
.countCard {
  text-align: center;
}
a:hover {
  text-decoration: none;
}
.f-about {
  color: #fff;
  padding-right: 4rem;
}
.f-about h3 {
  font-size: 1.25rem;
  font-family: Avenir-book;
  padding-top: 3rem;
}
.f-about p {
  font-size: 0.85rem;
  font-family: Avenir-book;
  margin-bottom: 0;
}
.f-address {
  display: flex;
  align-items: flex-end;
  color: #fff;
  font-size: 1rem;
  justify-content: space-evenly;
  border-right: 1px solid #fff;
  font-family: Avenir-book;
}
.f_addrs {
  display: flex;
}
.f_addrs p {
  margin-bottom: 0 !important;
  font-size: 0.95rem;
}

.f-contact ul {
  list-style: none;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 0;
  padding-left: 10px;
}
.f-contact ul li {
  padding-bottom: 10px;
}
.f-contact ul a {
  font-family: Avenir-book;
  color: #fff;
  font-size: 0.95rem;
  text-decoration: none;
}
.copyright {
  font-family: Avenir-book;
  font-size: 0.8rem;
  color: #fff;
  padding-left: 15px;
  padding-top: 2rem;
}
.themeHead {
  font-size: 1.4rem !important;
  padding-top: 1rem;
  color: #4d093e;
  position: relative;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-family: Avenir-light;
}
/* .themeHead::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 50px;
  background: #4d093e;
  left: 0;
  bottom: 0px;
} */
.themeHead.l-head {
  font-size: 2rem !important;
}
.themeHead.whFont {
  color: #fff;
}
.contactRow{
  background-image: url(../img/contactbg.png);
    object-fit: contain;
    background-size: cover;
    border-radius: 10px;
    padding: 3rem;
}

.boxGray {
  background: #707070;
  border: 1px soldi #707070;
  padding: 20px;
  height: 6rem;
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 1rem;
}
.servCont {
  font-size: 0.9rem;
  font-family: Avenir-book;
  line-height: 18px;
}
.ourServices {
  list-style: none;
  padding-left: 0;
}
.ourServices li {
  display: inline-block;
  margin-right: 2rem;
  font-weight: 500;
  font-size: 1rem;
  line-height: 16px;
}
.ourServices li a {
  color: #000;
  text-decoration: none;
  font-family: 'Avenir-black';
    line-height: 20px;
}
.ourServices li a:hover {
  color: #4d093e;
  text-decoration: none;
}
.projects {
  background: rgba(5, 41, 66, 0.1);
}
.themeHeadTwo {
  font-size: 1.4rem !important;
  padding-top: 1rem;
  color: #4d093e;
  position: relative;
  padding-bottom: 5px;
  text-transform: uppercase;
}
.p-card {
  height: 100%;
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-bottom: 0;
}
.p-card .row {
  height: 100%;
}
.bgDark {
  background-color: #4d093e;
  color: #fff;
}
.bgLight {
  background-color: #fff;
  color: #000;
}
.pro-card {
  height: 25rem;
}
.coverCenter {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.projectDescrT1 h3 {
  font-family: eurotile;
  font-size: 0.9rem;
  text-align: right;
  letter-spacing: 0.05rem;
  margin-bottom: 0;
  font-weight: 300;
}
.projectDescrT1 p {
  font-size: 0.8rem;
  text-align: center;
  font-family: Avenir-book;
}
.projectDescrT2 h3 {
  font-family: eurotile;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  text-align: left;
  margin-bottom: 0;
  font-weight: 300;
}
.projectDescrT1.custPadding h3{
  font-size: 1.6rem;
}
.projectDescrT1.custPadding{
  padding: 5rem 1rem 1rem;
}
.projectDescrT2 p {
  font-size: 0.8rem;
  text-align: center;
}
.projectCard {
  height: 100%;
}
.projectDescrT2 {
  height: 100%;
}
.pb20 {
  padding-bottom: 20px;
}
.projectDescrT1 {
  padding: 3rem 2rem 1rem;
}
.projectDescrT2 {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}
.col-md-7 .projImgT1 {
  height: 100%;
  font-family: eurotile;
}
.col-md-9 .projImgT1 {
  height: 100%;
  font-family: eurotile;
}
.f-contact img {
  height: 1.125rem;
}
.location {
  height: 1.5rem;
  margin-right: 1rem;
  margin-top: 5px;
}
.aboutSec p {
  font-family: Avenir-book;
  font-size: 0.95rem;
}
.SlideHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.slideLink {
  font-size: 1.2rem;
  color: #4D093E;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
.slideLink:hover {
  font-size: 1.2rem;
  color: #ae2f35;
  text-decoration: none;
  cursor: pointer;
  text-decoration: none;
}
.projectDet {
  position: relative;
  /* left: 100%; */
  opacity: 0;
  overflow: hidden;
  height: 0;
  transition: 0.3s ease-in-out;
}
.projectDet.active {
  width: 100%;
  position: relative;
  left: 0%;
  opacity: 1;
  overflow: hidden;
  height: auto;
  transition: 0.5s ease-in-out;
}
.slideLink img {
  width: auto;
  height: 0.75rem;
  margin-left: 10px;
  object-fit: contain;
  object-position: center;
  transform: translateX(-10px);
  transition: 0.3s;
}
.slideLink:hover img {
  width: auto;
  height: 0.75rem;
  margin-left: 10px;
  transition: 0.3s;
  object-fit: contain;
  object-position: center;
  transform: translateX(0px);
  transition: 0.3s;
}
.com-br {
  border-right: 1px solid #dadada;
}
.web-br {
  border-right: 1px solid #dadada;
}
.br {
  border-right: 1px solid #fff;
}
@media only screen and (max-width: 767px) {
  .bg-nav {
    background: #a6a7a9;
    height: auto;
  }
  .br {
    border-bottom: 2px solid #fff;
    border-right: none;
  }
  body {
    min-height: 75rem;
    padding-top: 4rem;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-top: 1.5rem;
    padding-left: 0;
  }
  .nav-item:last-child {
    border-left: none !important;
  }
  .whyUs .col-lg-3 {
    width: 50%;
    overflow: hidden;
    padding: 4px;
  }
  footer {
    padding: 3.5rem 1rem;
  }
  .f-address {
    margin: 1.5rem 0;
    border-right: 0 !important;
  }
  .f-contact ul {
    padding-left: 0;
  }
  .SlideHead {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .themeHeadTwo {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
  }
  .slideLink {
    font-size: 0.95rem;
  }
  .web-br {
    border-right: none;
    padding: 0 3rem;
  }
  .com-br {
    border-right: none;
    padding: 0 3rem;
  }
  .no-br {
    border-right: none;
    padding: 0 3rem;
  }
  .location {
    margin-right: 0.5rem;
  }
  .f_addrs p {
    font-size: 0.85rem;
  }
  .f-contact img {
    margin-right: 0.5rem;
  }
  .f-about {
    padding-right: 0;
  }
  .popularRetreat .head-content {
    padding: 0 5% 2rem;
  }
  .featured-work-card {
    height: 15rem;
    margin-bottom: 15px;
  }
  .featured-overlay {
    background: rgb(166 167 169 / 25%);
  }
  .whyUs .head01 {
    font-size: 1.5rem;
    padding-top: 1.5rem;
  }
  .whyUs .head02 {
    font-size: 1.1rem;
  }
  .whyUs .cardOne {
    width: auto;
    height: auto;
  }
  .whyUs {
    padding-bottom: 1.5rem !important;
  }
  .popularRetreat {
    padding-bottom: 2rem;
  }
  .cardOne img {
    height: 4rem;
    width: auto;
    object-fit: cover;
    object-position: center;
  }
}

.serviceCol {
  padding-top: 5rem;
}

.ourClinetsText {
  text-align: left;
  letter-spacing: 0px;
  color: #fff;
  margin: 10rem 0 0;
  font-family: Avenir-light;
  font-weight: 600;
}
.contactSec {
  background: rgba(80, 8, 50, 0.14);
}

.contactForm label {
  font-family: Avenir-light;
  font-size: 0.9rem;
  margin-bottom: 2px;
  color: #fff;
}
.form-control {
  border-radius: 0 !important;
}
.form-control:focus {
  box-shadow: none;
  border: 1px solid #500832;
}
.btn-primary {
  background: #500832 0% 0% no-repeat padding-box;
  color: #ffffff;
  font-family: Avenir-light;
  text-transform: uppercase;
  font-size: 0.85rem;
  padding: 6px 30px;
  border: none;
}
.btn-primary:hover {
  background: rgba(80, 8, 50, 0.9) 0% 0% no-repeat padding-box;
}
.sub-banner {
  /* background-color: #6d4f68; */
  background: transparent linear-gradient(180deg, #500E33 0%, #500E33 22%, #531237 54%, #2C0E2E 86%, #2C0E2E 100%) 0% 0% no-repeat padding-box;
  min-height: 200px;
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}
.sub-banner h4 {
 color: #fff;
    font-size: 1.1rem;
    font-family: Avenir-black;
}
.sub-banner p {
  font-size: 0.8rem;
  color: #fff;
  font-weight: 300;
  line-height: 18px;
  margin-bottom: 0;
}

.sub-banner .col-md-4 {
  padding: 0.5rem 1.8rem;
}
.bannerContent h4 {
  font-size: 3rem;
    font-weight: 700;
    color: #4d093e;
    padding: 0.8rem;
    font-family: 'Avenir-black';
}

.ceo-message {
    padding: 5rem 0;
}
.messageCard img{
  width: 100%;
  height: auto;
}
.profileContent{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn-contact{
      background: #4d093e;
    width: 7rem;
    padding: 5px 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #fff;
}
.comingSoon{
  color: #4d093e;
}
.messageCard{
  margin: 4rem 0;
}
.custom-img{
  height: 30rem !important;
    width: 100% !important;
    object-fit: cover !important;
    object-position: center !important;
}
.misionHead{
  font-size: 3rem;
    font-weight: 700;
    color: #4d093e;
    padding: 0.8rem;
    font-family: 'Avenir-black';
}
.misioncont{
      font-size: 1rem;
    font-family: Avenir-light;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 0;
}
.modalLink{
  cursor: pointer;
  color: #fff;
}
.modalLink:hover{
  color: #dadada;
}
.projectCard{
  display: block;
}
.projectCard:hover{
  color: #fff;
}
.themeHead.l-head.contactHead{
      font-family: eurotile !important;
    text-transform: capitalize !important;
}